{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>home page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <style>
		
		.pagination { display: inline-block;}
		.pagination a { color: black; float: left; padding: 8px 16px; text-decoration: none;}
		.pagination a.active { background-color: #4CAF50; color: white;}
		.pagination a:hover:not(.active) {background-color: #ddd;}
		</style>
</head>
<body>
    <div class="main">
        <div class="search-div">
        <form action="" method="GET" id="search-form">
            <input type="text" name="search" id="search" placeholder="search query">
            <button type="submit">Search</button>
        </form>
        <!-- End of search-form div -->
        </div>
        <div class="error" style="display: none;">
            Error message here!
            
            <!-- End of error div -->
        </div>
        <div class="table-div">
            <table border="1">
                <thead>
                    <th>ID</th>
                    <th>Log Name</th>
                    <th>Log Description</th>
                    <th>Ip Address</th>
                    <th>Port</th>
                    <th>Http Response</th>
                </thead>
                <tbody>
                    {% for log in first_page %}
                    <tr>
                        <td>{{log.id}}</td>
                        <td>{{log.name}}</td>
                        <td>{{log.description}}</td>
                        <td>{{log.ip_address}}</td>
                        <td>{{log.port}}</td>
                        <td>{{log.http_response}}</td>

                        {% endfor %}
                    </tr>
                </tbody>
               
            </table> 
            <div class="pagination">
                {% for i in page_range %}
                {% if i <= 3 %}
                <a style="margin-left: 5px; " href="{{i}}">{{i}}</a>
                {% else %}
                
                {% endif %}
               
                {% endfor %}
                </div>
                <script>
                    
                </script>

            <!-- End of table div -->
        </div>

        <!-- <h3 id="not-found">No matchs; Try again!</h3> -->
       

    
        <!-- End of main div -->
    </div>

<script>
    $(document).on('submit','#search-form',function(e){
        e.preventDefault();
        let searchTerm = $('#search').val();
        let errorEl = $('.error');
            // console.log(searchTerm);
            $.ajax({
                type: 'GET',
                url: "{% url 'search' %}",
                data: {
                    search:$('#search').val()
                },

                success: function(response){
                    $('tbody').empty();
                    let temp = "";
                    if(response.logs.length > 0){
                        
                        for(var log in response.logs){
                        
                        temp = `
                        <tr>
                            <td> ${response.logs[log].id}</td>
                            <td>${response.logs[log].name}</td>
                            <td>${response.logs[log].description}</td>
                            <td>${response.logs[log].ip_address}</td>
                            <td> ${response.logs[log].port}</td>
                            <td> ${response.logs[log].http_response}</td>
                        </tr>
                        `;
                        $('tbody').append(temp)
                        
                    }
                    }
                    else{
                        temp = `<p>No Data matches <b>${searchTerm}</b></p>`;
                        $('tbody').append(temp)

                    }
                   
                },
                error: function(response){
                    errorEl.css('display','block')
                    errorEl.css('color','red','font-size',20);
                    errorEl.text('Error: Invalid Query');
                    
                    errorEl.fadeOut(7000)
                }
            });
        });
        // pagination
        $('a').click(function(e){
            e.preventDefault();
            var page_no = $(this).attr('href');

            $.ajax({
                type: "POST",
                url: "{% url 'home' %}",
                data: {
                    page_no: page_no,
                    csrfmiddlewaretoken: '{{csrf_token}}',

                },
                success: function(response){
                    $('tbody').empty();
                    let temp = ""
                    for(let log in response.logs){
                        temp = `
                        <tr>
                            <td> ${response.logs[log].id}</td>
                            <td>${response.logs[log].name}</td>
                            <td>${response.logs[log].description}</td>
                            <td>${response.logs[log].ip_address}</td>
                            <td> ${response.logs[log].port}</td>
                            <td> ${response.logs[log].http_response}</td>
                        </tr>
                        `;
                        $('tbody').append(temp)


                    }
                },
                error: function(response){
                    alert('error occurred')
                }
            });
        })


</script>


    
</body>
</html>