{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>home page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <style>
		
		.pagination { display: inline-block;}
		.pagination a { color: black; float: left; padding: 8px 16px; text-decoration: none;}
		.pagination a.active { background-color: #4CAF50; color: white;}
		.pagination a:hover:not(.active) {background-color: #ddd;}
		</style>
</head>
<body>
    <div class="main">
        <div class="search-div">
        <form action="" method="GET" id="search-form">
            <input type="text" name="search" id="search" placeholder="search query">
            <button type="submit">Search</button>
        </form>
        <!-- End of search-form div -->
        </div>
        <div class="error" style="display: none;">
            Error message here!
            
            <!-- End of error div -->
        </div>
        <div class="table-div">
            <table border="1">
                <thead>
                    <th>ID</th>
                    <th>Log Name</th>
                    <th>Log Description</th>
                    <th>Ip Address</th>
                    <th>Port</th>
                    <th>Http Response</th>
                </thead>
                <tbody>
                    {% for log in page_obj %}
                    <tr>
                        <td>{{log.id}}</td>
                        <td>{{log.name}}</td>
                        <td>{{log.description}}</td>
                        <td>{{log.ip_address}}</td>
                        <td>{{log.port}}</td>
                        <td>{{log.http_response}}</td>

                        {% endfor %}
                    </tr>
                </tbody>
               
            </table> 
            

<!-- <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div> -->


            <div class="pagination">
                {% if page_obj.has_previous %}
                <a style="margin-left: 5px; background-color: hwb(240 37% 62% / 0.926); color: white; " href= "{% if query is not None %}?search={{query}}&page=1 {% else %}?page=1 {% endif %}">&laquo; first</a>
                <a style="margin-left: 5px; background-color: hwb(240 37% 62% / 0.926); color: white; " href=" {% if query is not None %} ?search={{query}}&page={{ page_obj.previous_page_number }} {% else %}?page={{ page_obj.previous_page_number }} {% endif %}">&laquo;</a>
                {% endif %}
                {% if page_obj.has_next %}
                <a style="margin-left: 5px; background-color: hwb(240 37% 62% / 0.926); color: white; " href=" {% if query is not None %} ?search={{query}}&page={{ page_obj.next_page_number }} {% else %}?page={{ page_obj.next_page_number }}{% endif %}">&raquo;</a>
                <a style="margin-left: 5px; background-color: hwb(240 37% 62% / 0.926); color: white; " href="{% if query is not None %}?search={{query}}&page={{ page_obj.paginator.num_pages }} {% else %}?page={{ page_obj.paginator.num_pages }}{% endif %}">last &raquo;</a>
                {% endif %}
                {% for page_num in page_obj.paginator.page_range %}
                {% if page_obj.number  == page_num %}
                <a style="margin-left: 5px; background-color: blue; color: white; " href="#">page {{page_num}} 
                    of {{ page_obj.paginator.num_pages }}
                   
                </a>
             
                <!-- <a style="margin-left: 5px; background-color: blue; color: white; " href="#"> 
                    of {{ page_obj.paginator.num_pages }}
                </a> -->
                
                {% endif %}
            

                   
               
                {% endfor %}
                </div>
                <script>
                     $('#first').click(function(e){
                        e.preventDefault();
                        var page_no = $(this).attr('href');
                        console.log(page_no)
                     })
                   
                </script>

            <!-- End of table div -->
        </div>

        <!-- <h3 id="not-found">No matchs; Try again!</h3> -->
       

    
        <!-- End of main div -->
    </div>

<script>
    // $(document).on('submit','#search-form',function(e){
    //     e.preventDefault();
    //     let searchTerm = $('#search').val();
    //     let errorEl = $('.error');
    //         // console.log(searchTerm);
    //         $.ajax({
    //             type: 'GET',
    //             url: "{% url 'search' %}",
    //             data: {
    //                 search:$('#search').val()
    //             },

    //             success: function(response){
    //                 $('tbody').empty();
    //                 let temp = "";
    //                 if(response.logs.length > 0){
                        
    //                     for(var log in response.logs){
                        
    //                     temp = `
    //                     <tr>
    //                         <td> ${response.logs[log].id}</td>
    //                         <td>${response.logs[log].name}</td>
    //                         <td>${response.logs[log].description}</td>
    //                         <td>${response.logs[log].ip_address}</td>
    //                         <td> ${response.logs[log].port}</td>
    //                         <td> ${response.logs[log].http_response}</td>
    //                     </tr>
    //                     `;
    //                     $('tbody').append(temp)
                        
    //                 }
    //                 }
    //                 else{
    //                     temp = `<p>No Data matches <b>${searchTerm}</b></p>`;
    //                     $('tbody').append(temp)

    //                 }
                   
    //             },
    //             error: function(response){
    //                 errorEl.css('display','block')
    //                 errorEl.css('color','red','font-size',20);
    //                 errorEl.text('Error: Invalid Query');
                    
    //                 errorEl.fadeOut(7000)
    //             }
    //         });
    //     });
        // pagination
        $('aa').click(function(e){
            e.preventDefault();
            var page_no = $(this).attr('href');

            $.ajax({
                type: "POST",
                url: "{% url 'home' %}",
                data: {
                    page_no: page_no,
                    csrfmiddlewaretoken: '{{csrf_token}}',

                },
                success: function(response){
                    console.log(response.pages)
                    $('tbody').empty();
                    let temp = ""
                    for(let log in response.logs[page_range]){
                        temp = `
                        <tr>
                            <td> ${response.logs[log].id}</td>
                            <td>${response.logs[log].name}</td>
                            <td>${response.logs[log].description}</td>
                            <td>${response.logs[log].ip_address}</td>
                            <td> ${response.logs[log].port}</td>
                            <td> ${response.logs[log].http_response}</td>
                        </tr>
                        `;
                        $('tbody').append(temp)


                    }
                },
                error: function(response){
                    alert('error occurred')
                }
            });
        })


</script>


    
</body>
</html>