<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Document</title>
</head>
<body>
    
    <ul id="display"></ul>

    <table border="1">
        <thead>
            <th>first</th>
            <th>last</th>
            <th>age</th>
        </thead>
        <tbody>
            <tr>
                <td>jam</td>
                <td>ay</td>
                <td>12</td>
            </tr>
            <tr>
                <td>ali</td>
                <td>hasan</td>
                <td>45</td>
            </tr>
            <tr>
                <td>fadumo</td>
                <td>hassan</td>
                <td>25</td>
            </tr>
            <tr>
                <td>fay</td>
                <td>abdi</td>
                <td>12</td>
            </tr>
            <tr>
                <td>jam</td>
                <td>ay</td>
                <td>12</td>
            </tr>
            <tr>
                <td>jam</td>
                <td>ay</td>
                <td>12</td>
            </tr>
            <tr>
                <td>jam</td>
                <td>ay</td>
                <td>12</td>
            </tr>
            <tr>
                <td>jam</td>
                <td>ay</td>
                <td>12</td>
            </tr>
            <tr>
                <td>jam</td>
                <td>ay</td>
                <td>12</td>
            </tr>
            <tr>
                <td>jam</td>
                <td>ay</td>
                <td>12</td>
            </tr>
            <tr>
                <td>jam</td>
                <td>ay</td>
                <td>12</td>
            </tr>

        </tbody>
    </table>


    <!-- <script>
        $(document).ready(function(){
            setInterval(function(){
                $.ajax({
                    type: 'GET',
                    url: "{% url 'testt' %}",

                    success: function(response){
                        console.log("data got");
                        console.log(response);
                    },
                    error: function(response){
                        console.log("an error occured");
                    }
                });
            },1000);
        });
    </script> -->


</body>
</html>